* {
    padding: 0;
    margin: 0;
}

a:link {
    color: #111;
    text-decoration: none;
}
a:visited {
    color: #111;
    text-decoration: none;
}
a:hover {
	color: #b22;
    text-decoration: underline;
}
a:active {
    color: #f00;
}

a[name]:hover {
	color: #000;
}

html {
    background-color: #f6f6f6;
	font-family: sans-serif;
}

h1 {
    border-bottom: 1px #aaa dotted;
    background-color: #f6f6f6;
    padding: 0.4em 3em;
    color: #666;
}

#menu {
	width: 13em;
	padding: 1em 3em;
	background-color: #f6f6f6;
	border-right: 1px #aaa dotted;
	border-bottom: 1px #aaa dotted;
	float: left;
}

#menu span {
	font-size: 1.3em;
}

#menu ul {
	margin-left: 2em;
}

#content {
	margin-left: 19em;
	border-left: 1px #aaa dotted;
	padding: 2em;
	background-color:#eee;
}

#content h2 {
	margin-top: 2em;
	padding-left: 2em;
	clear: right;
}

#content h2:first-child {
	margin: 0;
}

#content p {
	text-align: justify;
	padding: 0.5em 3em 0 0;
}

#content ul 
{
    padding: 0.5em 0 0 1em;   
}

#footer {
	clear: both;
	border-top: 1px #aaa dotted;
	background-color: #f6f6f6;
	text-align: center;
	padding: 0.4em;
}

.picbox {
	float: right;
	margin: 0.5em;
	padding: 0.5em;
	background-color: #f6f6f6;
	border: 1px #ccc solid;
}

.picbox span:before {
	margin-left:1em;
	margin-right:1em;
	content: "—";
}

.picbox img {
	display: block;
	margin: 0 0 0.5em 0;
}
